<a href="https://colab.research.google.com/github/wanggoNya/ai/blob/main/practice220127.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ####### 복습

# Collection : 많은 데이터(elements)를 저장하는...

# 리스트 list       튜플 tuple        딕셔너리 dict     셋 set
#                                     ★★★
# []                ()                {}                {}
# mutable           immutable         mutable           mutable
# indexing/slicing  indexing/slicing  Nope 순서개념 X   Nope 순서개념 X
#                   (1.)              {key:value}       리스트로 바꿀 수 d
#                                                       중복데이터X, 중복제거o

#List
list1 = [1,2,3,4,5]
list2 = [2,3,'하나','둘',True,False]

print(list1[0]) #indexing ★비파괴적
print(list2[2:4]) #slicing [시작:끝(미만)] ★비파괴적

#리스트 수정 가능 ★파괴적
list1[0] = 9
print(list1) 

#리스트 연산 가능
print(list1*3)

# 리스트 마지막에 추가 ★파괴적
list1.append(8) #append 는 마지막에 추가
# insert로 추가 ★파괴적
list1.insert(0, 10) #insert 는 특정 위치 지정하여 추가

#파괴적이지 않고 원본 유지하는 법
list1 = list3
print(list1)
print(list3) #복사본 만들기

#리스트 삭제가능
list1 = list3
print(list1)
print(list3)

del list3[0] #삭제
print(list1)
print(list3) #list1까지 수정되므로,

In [ ]:
list1 = [1,2,3,4,5]
list2 = [2,3,'하나','둘',True,False]
#리스트 삭제가능
list3 = list1 
print(list1)
print(list4)

del list3[0] #삭제
print(list1) 
print(list4) #list1까지 수정된다
# list1  -----> [9,2,3,4,5,8] <----- list3
# 변수는 특정 위치를 가리킴

list4 = list1.copy

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4, 5]

In [ ]:
#튜플 tuple 
#수정 삭제 불가능 
t1 = ('대한', '민국')
type(t1)
t2 = (1,)
print(type(t2))
 
# t1.pop() #파괴적

In [ ]:
#dict 수정가능!
dict = {
    'key': 'value'
}
print(dict)
print(dict['key'])

dict['newkey'] = 'ai' 
print(dict)

del dict['key']

{'key': 'value'}
value
{'key': 'value', 'newkey': 'ai'}

In [ ]:
# set
set = {1,1,2,2,2,3}
print(set)
# print(set[0]) 오류가 생겨버림..

In [ ]:
###################
# if 조건문

# if True:
#   print('1st')
# elif False:
#   print('2nd')
# elif False:
#   print('3rd')
# else:
#   print('etc')

#중첩 (좋은 방법은 아님)
score = int(input())
if score >= 100:
  print('상')
else:
  if score >= 50:
    print('중')
  else:
    print('하')

40
하

In [ ]:
#########################
# while
# 반복문은 작업 수행을 한 번이 아니라 계속해서 수행해야 할 때 사용
# while 반복 작업을 몇 번 수행할지 확실하지 않을 때 주로 사용

# while 조건식 : 
# 실행 구문

while True:
  print('운동장 돌기') #print 구문이 계속 반복

In [ ]:
n = 1
while n <= 10:
  print(n)
  n = n+1

In [ ]:
n = 10
while n>=1:
  print(n)
  n -=2

10
8
6
4
2

In [ ]:
arr =[]
n = 1

while n!= 0:
  n =int(input('정수입력'))


  if n!= 0:
    arr.append(n)

print(arr)

정수입력1
정수입력2
정수입력3
정수입력4
정수입력0
[1, 2, 3, 4]

In [ ]:
# while 중첩
# while 내부에 또 다른 while을 사용하는 것을 중첩이라고 한다. 
#1~3일차 각각 1~3교시 출력
n = 1
while day <= 3:
  c = 1
  while c <= 3:
    print(f'{n}day {c}class')
    c += 1
  n += 1

In [ ]:

#구구단출력
n = 1
a = n*c
while n <= 9:
  c = 1
  while c <= 9:
    a = n*c
    print(f'{n} X {c} = {a}')
    c += 1
  n += 1

In [ ]:
# 7단
n = 7
a = 1
ans = 0
while ans < 101:
  a += 1
  ans = n*a
  print (ans)

In [ ]:
#구구단출력
n = 1

while n <= 9:
  c = 1
  while c <= 9:
    a = n*c
    print(f'{n} X {c} = {a}')
    c += 1
  n += 1

In [ ]:
#헬로
hello = int(input("몇 번의 hello를 출력하시겠습니까 >> "))
n = 0
while n < hello:
  n += 1
  print(f'{n}번째 hello')
if hello < 1:
    print("잘못된 입력입니다.")

In [ ]:
# 자판기
put = int(input("자판기에 얼마를 넣을까요 >>> "))
per = n * 300

while per < put:
  per = n * 300
  jan = put - per
  n += 1
  print(f'커피 {n}잔, 잔돈 {jan}원')

자판기에 얼마를 넣을까요 >>> 1200
커피 2잔, 잔돈 900원
커피 3잔, 잔돈 600원
커피 4잔, 잔돈 300원
커피 5잔, 잔돈 0원

In [ ]:
n = set(input("0부터 9까지 정수 입력 >>> "))
while len(n) <5:
  print("중복되지않게 다시 입력하세요.")
  n = set(input("0부터 9까지 정수 입력 >>> "))
  print(n)

0부터 9까지 정수 입력 >>> asd

TypeError: ignored

In [ ]:
num = set([])
while len(num) <= 4:
  no = int(input('0~9 사이의 정수를 입력하세용 '))
  num.add(no)
  print(num)

print(num)

In [ ]:
g=0
n=0
while n < 100:
  n += 1
  while g < 10:
    g += 1
    print(f'{n*g}',end='    ')

1    2    3    4    5    6    7    8    9    10

In [ ]:
n = 1
while n<= 100:
  if n % 10 != 0:
    print(n, end='\t')
  else:
    print(n)
  n += 1

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [ ]:
n = 1
while n<= 100:
  t=0
  while t < 10:
    print(n, end='\t')
    t += 1
    n += 1
  print("")

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [ ]:
#########################
#for 문

# 몇 번 반복시킬지 그 횟수가 명확할 때 주로 사용한다.
# for 변수 in 반복시킬 값들 :
#       반복 실행문
for i in [1,2,3]:
  print i

SyntaxError: ignored

In [ ]:
for i in range(5,8,2): #range(시작(생략가능)), 끝(미만), 스텝(생략가능))
 print(i)

5
7

In [ ]:
# for에 넣을 수 없는 것들
# set
# dict
# 순서와 상관 없이는 사용 가능

In [ ]:
pw =  input("비밀번호를 입력")
ch_count = 0
no_count = 0

for ch in pw:
  if ch.isalpha():
    ch_count += 1

  elif ch.isnumeric():
    no_count += 1

if ch_count > 0 and no_count > 0:
  print("사용가능한 비밀번호")
else:
  print("사용불가능")

비밀번호를 입력asd2t
사용가능한 비밀번호

In [ ]:
# #range ([start], stop, [step])[생략가능1
# 1. 숫자들을 컬렉션으로 만든다.
# 2. strart를 생략하면 0부터 시작
# 3. stop은 생략할 수 없다.
# 4. step을 생략하면 1씩 증가한다]

In [ ]:
dan = int(input("계산할 구구단 입력"))
 
for i in range(1,10,1):
  print(f'{dan} x {i} = {dan*i}')

계산할 구구단 입력3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
#dict
person = {
    'name' : '에밀리',
    'age':'20'
}

for i in person :
  print(i)
for i in person :
  print(person[i])

name
age
에밀리
20

In [ ]:
#그 수까지의 모든 합계
put = int(input("정수입력"))
sum = 0
for i in range(1,put+1):
  sum = sum + i
  
print(sum)

정수입력23
276

In [ ]:
put = int(input("몇개의 과일 저장? "))
f=[]
for i in range(1,put+1):
  fr = input('i번째 과일을 입력하세요')
  f.append(fr)
print(f)

몇개의 과일 저장? 3
i번째 과일을 입력하세요바나나
i번째 과일을 입력하세요사과
i번째 과일을 입력하세요배
['바나나', '사과', '배']

In [ ]:
for i in range(1,101):
  if i %10 != 0:
    if......ahfmrpTDj
    print(i ,end='\t')
  else:
    print(i)

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100